<style>
#inhand{
  width: 30px;
}
#investment,#misc_benefits{
  width: 40px;
}
#gross {
  font-weight: bold;
  font-size: 1.5em;
}
</style>
<div align="center">
  <h1>What gross pay should I ask for ?</h1>

  I want <input type="text" id="inhand" value="50" name="inhand" /> 
  K of real, spendable money in my hand every month.
  <br /><br/>
  
  I'm willing to invest 
  <input type="text" value="1" id="investment" /> 
  L to reduce taxable income(annual) 
  <br/><br/>
  
  I'm expecting <input type="text" value="0" id="misc_benefits" /> 
  L of other misc benefits from my
  employer to reduce taxable income.(annual)
  <br /><br/>

  <span id="gross" ></span>
  <div id="breakup">
    <br />
    <table>
      
    </table>
  </div>
</div>
<script src='javascripts/jquery-1.7.1.min.js'></script>
<script src='javascripts/mypay.js'></script>
